body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color:  #660000;
}

.container {
    background-color: #ff9999;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    width: 100%;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #660000; 
    border-bottom: 1px solid #660000;
}
label {
    
    color: #660000; 
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.form-row {
    display: flex;
    width: 100%;
    gap: 20px;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
    color: #660000;
}

.form-group input,
.form-group select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.form-group input[type="file"] {
    border: none;
    padding: 5px;
}

.phone-group {
    display: flex;
    flex-direction: column;
}

.phone-inputs {
    display: flex;
    gap: 10px;
}

.phone-inputs select {
    flex: 1;
}

.phone-inputs input {
    flex: 2;
}

.form-group.full-width {
    flex: 1 1 100%;
}

.photo-inputs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.photo-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed #660000;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    cursor: pointer;
    position: relative;
    background-color: #ffe6e6;
}

.photo-upload input[type="file"] {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.photo-upload span {
    font-size: 24px;
    color: #660000;
}

.form-group button {
    padding: 10px;
    background-color: #ff5864;
    border: none;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #ff4754;
}
